
.logo img{
    height: 150px;
    width: auto;
}
.nav-links {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: fixed;
    top: 100px;
    left: 20%;

}
.nav-links a{
    color: var(--background);
    text-decoration: none;
    padding: 8px;
}

.nav-links a:hover {
    border: 1px solid var(--accent);
    border-radius: 10px;
    
}

@media (min-width: 650px) {
    .nav-links{
        left: 45%;
        gap: 50px;
        top: 70px;
    }
}
@media (min-width: 900px) {
    .nav-links{
        left: 55%;
        gap: 80px;
        
    }
    .logo img{
        height: 200px;
        width: auto;
    }
}@media (min-width: 1250px) {
    .nav-links{
        left: 65%;
        gap: 100px;
        
    }
}